<table>
    <thead>
        {{#if pirma}}   
        <th>Vardas</th>
        {{/}}
        <th>Pavarde</th>
        <th>Adresas</th>
        <th>Telefonas</th>
        <th>Emeilas</th>
    </thead>
    <tbody>
        <tr>
            {{#if pirma}}
                <td>{{pirma}}</td>
            {{/if}}
            <td>{{antra}}</td>
            <td>{{trecia}}</td>
            <td>{{ketvirta}}</td>
            <td>{{penkta}}</td>

        </tr>
    </tbody>
</table>